<footer>
    <div class="container">
        <p class="text-muted text-center">
        &copy; <%= new Date().getFullYear() %> Your Company Name. All rights reserved.
        </p>

        <div>
            <p class="text-muted text-center">
            <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a>
            </p>
        </div>
        <div>
            <nav class="social-links text-center">
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
            <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
        </div>
    </div>  
   
  

</footer>